/* Import the 'Poppins' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/* Apply a basic styling reset to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Style for the entire body */
body {
    display: grid;
    min-height: 100vh;
    place-content: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 94%);
}

/* Style for the main content container */
main {
    background: hsl(0, 0%, 100%);
    margin: auto;
    padding: 25px;
    border-radius: 15px 15px 100px 15px;
}

/* Style for the header section */
header {
    display: flex;
}

/* Style for the header's h1 element */
header h1 {
    font-size: 11px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
}

/* Style for h2 elements */
h2 {
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    color: hsl(0, 0%, 8%);
}

/* Style for spans */
span {
    color: hsl(259, 100%, 65%);
}

/* Common styling for layout elements */
.layout {
    margin: 10px 0;
}

/* Style for input fields */
.input {
    width: 60%;
    padding: 5px;
    border: hsl(0, 0%, 86%) 2px solid;
    border-radius: 5px;
    transition: 0.3s;
}

/* Hover, active, and focus styles for input fields */
.input:hover,
.input:active,
.input:focus {
    border: solid 2px hsl(259, 100%, 65%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

/* Style for error state of input fields */
.input.error {
    border-color: hsla(0, 100%, 67%, 0.3);
}

/* Style for error messages */
.error-message {
    color: hsl(0, 100%, 67%);
    margin-top: 5px;
    margin-right: 10px;
    font-size: 10px;
}

/* Style for image container */
.img-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

/* Style for vertical line separator */
.vertical {
    position: relative;
    flex-grow: 1;
    height: 1px;
    border: solid 1px hsl(0, 0%, 86%);
    margin: 2px 0;
    width: 100%;
}

/* Style for images */
img {
    width: 50%;
}

/* Style for buttons */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: hsl(259, 100%, 65%);
    padding: 5px;
    border-radius: 25px;
    border: none;
    width: 50px;
    height: 50px;
    transform: translateY(-40%);
}

/* Hover, active, and focus styles for buttons */
button:hover,
button:active,
button:focus {
    cursor: pointer;
    background: hsl(0, 0%, 8%);
}

/* Style for attribution text */
.attribution {
    font-size: 16px;
    text-align: center;
    margin: 15px;
}

/* Style for links in attribution */
.attribution a {
    color: hsl(0, 100%, 67%);
}

/* Media query for screens with a minimum width of 600px */
@media screen and (min-width: 600px) {
    main {
        width: 70%;
    }

    header {
        width: 90%;
    }

    /* Adjust styles for image container in larger screens */
    .img-style {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    /* Adjust styles for vertical line separator in larger screens */
    .vertical {
        height: 1px;
        border: solid 1px hsl(0, 0%, 86%);
        margin: 2px 0;
        width: 100%;
    }

    /* Adjust button position in larger screens */
    button {
        transform: translateY(5%);
    }
}
